<div class="word-card">
    <div class="header">
        <div class="name">{{word.name}}</div>
        <div class="buttons">
            <div class="save-button button" (click)="onSave()"><img [src]="getSaveImage()" alt=""></div>
            <div class="delete-button button" (click)="onDelete()"><img src="../../../assets/images/trash.png" alt=""></div>
        </div>
    </div>
    <div class="main">
        <div class="meanings">
            <ul>
                <li *ngFor="let meaning of word.meanings">
                    {{meaning}}
                </li>
            </ul>
        </div>
        <div class="example-sentence" *ngFor="let sentence of word.sentencesEN; let i=index">
            <div class="english-sentence">{{sentence}}</div>
            <div class="polish-sentence">({{word.sentencesPL[i]}})</div>
        </div>
    </div>

</div>